:root {
    --primaryColor: #81C8C2;
    --secondaryColor: #4B3F72;
    --lightGrayFillColor: #D9D9D9;
    --grayFillColor: #808080;
    --darkerGrayFillColor: #625B70;
    
    --mainFontfamilty: 'Montserrat', sans-serif;
}