.inputField {
  border: 1px gray solid;
  border-radius: 4px;
  padding: 10px 15px;
  transition: linear 0.25s;
  font-size: 1rem;
  font-weight: 400;
  height: 50px;
  transition: linear 0.5s;
}

.inputField:focus {
  border: 2px black solid;
}

.createForm {
  display: flex;
  margin: 50px auto;
  gap: 40px;
  width: 70vw;
  background-color: white;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: var(--xs-width);
  width: var(--s-width);
  flex: 1;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 40px;
}

.labelRightColumn {
  font-size: 1.5rem;
  font-weight: bold;
}

.createFormLabel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.1rem;
  font-weight: 500;
}

.tagField {
  display: flex;
  gap: 15px;
}

.addTagBtn {
  padding: var(--m-inner-padding);
  background-color: var(--primaryColor);
  font-weight: 500;
  border-radius: var(--s-border-radius);
  transition: var(--transition-time);
}

.addTagBtn:hover {
  color: white;
  background-color: var(--secondaryColor);
}
.formLegend {
  font-size: 2rem;
  font-weight: bolder;
}

.labelRequired::after {
  content: "*";
  color: red;
  margin-left: 5px;
}

.submitBtn {
  height: 50px;
  background-color: lightgreen;
  border-radius: 5px;
  font-size: 1.25rem;
  font-weight: 600;
}
