@import '../../index.scss';


.header {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 75px;

    background-color: $primary-color;

    &__name {
        font-weight: bold;
        font-size: 2.5rem;
        margin: 0 auto 0 75px;
        color: $secondary-color;
    }

    &__regBtn {
        margin: 0 75px 0 auto;
    }

    
    @include _768() {
        height: 50px;

        &__name {
            font-size: 1.15em;
            margin: 0 auto 0 25px;
        }

        &__regBtn {
            margin: 0 25px 0 auto;
        }
    }
}

.navigation {
    display: flex;
    align-items: center;
    gap: 2rem;

    font-weight: 500;

    @include _768 {
        font-size: 0.75rem;
        gap: 3rem;
    }

    &__item {
        color: $secondary-color;
        transition: linear 150ms;

        &:hover {
            color: $cream-color;
        }

        &:active {
            color: $primary-color-darker;
        }
    }
}